.right{
    float: right;
}
.hidden {
    display: none;
}
div.original {
    float: left;
}
body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1, h2, p {
    font-family: "Arial Black", Gadget, sans-serif;
}

h1 a:hover {
    color: #4691A4;
}

h1 a {
    color: black;
    text-decoration: overline;
}

.params-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}
.chart-container{
    width: 95%;
}
.comparison label{
    display: inline;
    font-weight: normal;
}
.comparison select{
    height: 20px;
}
.comparison form{
    margin-bottom: 0px;
}
.close-comparison:hover{
    cursor: pointer;
}
.sidebar-menu{
    list-style: none;
}
.sidebar-menu li{
    font-size: 1.5em;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid black;
    margin: 0;
}
.sidebar-menu a{
    text-decoration: none;
    color: black;
}
.alerts th:hover{
    cursor: pointer;
    background-color: #e1e1e1;
}
th{
    text-align: center;
}
.home{
    font-weight: bold;
}
.dtcell{
    border-right: 1px solid #e1e1e1;
}
.sorttable_sorted{

}
.main-content{
    margin-top: 1em;
}
body{
    margin: 0px;
}
.sidebar{
    width:inherit;
    position: fixed;
    height: 100vh;
    border-right: 2px solid black;
    background-color: #c6c6c6;
}