{% extends "chart.html" %}
{% block alerts_active %}active{% endblock %}
{% block page_title %}Alerts{% endblock %}

{% block content %}
    <div class="row">
        {% for item in result_components %}

            <div class="col-md-8">
                {{ macros.data_filter(item, buildings, 0, False, False, False) }}
            </div>

            <div class="col-md-4">

                <div class="alerts-container">
                    {% if item.alerts|length > 0 %}
                        <b>Point Name:</b> {{ item.alerts[0]['name'] }}<br/>
                        <b>Average:</b> {{ item.alerts[0].avg }}<br/>
                        <b>Standard Deviation:</b> {{ item.alerts[0]['std'] }}
                        <table class="table table-dark table-hover sortable">
                            <thead>
                            <tr>
                                <th class="dtcell">Date/Time</th>
                                <th>Value ({{ item.alerts[0]['units'] }})</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in item.alerts %}
                                {{ macros.alert(row) }}
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        No Alerts Found
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}