{% extends "base.html" %}
{% import 'macros.html' as macros %}

{% block pl_script %}
    {% for item in result_components %}
        {{ item.script|indent(4)|safe }}
    {% endfor %}
    {{ scripts|safe }}
{% endblock %}

{% block content %}
    <div class="row chart-container">
        {% for item in result_components %}
            <div class="seven columns">
                {{ macros.data_filter(item, buildings, 0, False, False, False) }}
            </div>
            <div class="five columns">
                <div class="alerts-container">
                    {% if item.alerts|length > 0 %}
                        <b>Point Name:</b> {{ item.alerts[0]['name'] }}<br/>
                        <b>Average:</b> {{ item.alerts[0].avg }}<br/>
                        <b>Standard Deviation:</b> {{ item.alerts[0]['std'] }}
                        <table class="alerts sortable">
                            <thead>
                            <tr>
                                <th class="dtcell">Date/Time</th>
                                <th>Value ({{ item.alerts[0]['units'] }})</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in item.alerts %}
                                {{ macros.alert(row) }}

                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        No Alerts Found
                    {% endif %}
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock %}