<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Martha's Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


    <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.11.min.css" >
    <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.11.min.css" >
    <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.11.min.css">
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.11.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.11.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.11.min.js"></script>
    {% block pl_script %}{% endblock %}

</head>
<body>
    <div class="row">
        <div class="three columns">
            <div class="sidebar">
                <ul class='sidebar-menu'>
                    <a class="home" href="{{url_for('compare')}}"><li>Carleton Energy Analytics</li></a>
                    <a href="{{url_for('compare')}}"><li>Comparison</li></a>
                    <a href="{{url_for('heatmap')}}"><li>Heat Map</li></a>
                    <a href="{{url_for('alerts')}}"><li>Alerts</li></a>
                    <a href="{{ url_for('room_comparison')}}"><li>Room Comparison</li></a>

                </ul>
            </div>
            &nbsp;
        </div>
        <div class="nine columns main-content">
            {% block content %}{% endblock %}
        </div>
    </div>
    <script type="text/javascript" src=" {{ url_for('static', filename='js/comparison.js') }}"></script>
    <script type="text/javascript" src=" {{ url_for('static', filename='js/sorttable.js') }}"></script>

</body>
</html>
