{% extends "layout.html" %}
{% import 'macros.html' as macros %}

{% block pl_script %}
    {% for item in result_components %}
        {{ item.script|indent(4)|safe }}
        {% if loop.length <= 1 and allow_comparisons %}
            {{ item.script|indent(4)|safe }}
        {% endif %}
    {% endfor %}
    {{ scripts|safe }}
{% endblock %}

{% block content %}
    <div class="row chart-container">
        {% for item in result_components %}
            {{ macros.data_filter(item, buildings, loop.index0, allow_comparisons, False, loop.length <= 1 and allow_comparisons) }}
            {% if loop.length <= 1 and allow_comparisons %}
                {# add a second instance of this item that we can hide and show when we add a comparison #}
                {{ macros.data_filter(item, buildings, loop.index0 + 1, True, True, False) }}
            {% endif %}

        {% endfor %}
    </div>
{% endblock %}