{# These macros aid in the creation of selection menus on various pages #}

{# Main selector menu: used by compare, alerts, and heatmap #}
{% macro selector(i, selector_data, data, toggle, tool) %}
  <form id="ptCompare-form-{{ i }}" class="ptCompare-form alert alert-secondary"
        data-idx="{{ i }}" data-tool="{{ tool }}" method="POST">
    <div class="form-row">
      <div class="form-group col">
        <label for="ptCompare-buildingSel-{{ i }}">Building:</label>
        <select id="ptCompare-buildingSel-{{ i }}" class="buildingSel custom-select" name="building">
          {% for id, value in selector_data.items() %}
            <option {{ "selected" if data.building|int == id|int }}
                value="{{ id }}">{{ value['name'] }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group col">
        <label for="ptCompare-ptSel-{{ i }}">Point name:</label>
        <select id="ptCompare-ptSel-{{ i }}" class="ptSel custom-select" name="point">
          {% for id, value in selector_data[data.building|int]['points'].items() %}
            <option {{ "selected" if data.point|int == id|int }}
                value="{{ id }}">{{ value['name'] }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col">
        <label for="ptCompare-fromSel-{{ i }}">From:</label>
        <input id="ptCompare-fromSel-{{ i }}" type="date" name="from" value="{{ data.from }}"
               class="form-control">
      </div>
      <div class="form-group col">
        <label for="ptCompare-toSel-{{ i }}">To:</label>
        <input id="ptCompare-toSel-{{ i }}" type="date" name="to" value="{{ data.to }}"
               class="form-control">
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-sm btn-info" type="submit">Submit</button>
      {% if toggle %}
        <button type="button" data-toggle="collapse" data-target="#secondChart"
                class="btn btn-sm btn-info">
          Toggle Second Chart
        </button>
      {% endif %}
    </div>
  </form>
{% endmacro %}


{# Alernative selector: used by room compare #}
{% macro generate_room_compare_selector(selector_data, data, timestamps) -%}
  <form class="rmCompare-form alert alert-secondary" method="POST">
    <div class="form-row align-items-end">
      <div class="col-auto my-1">
        <label for="building_select">Building</label>
        <select class="custom-select" name="building" id="building_select">
          {% for id, value in selector_data.items() %}
            <option {{ "selected" if data.building|int == id|int }}
                value="{{ id }}">{{ value['name'] }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-auto my-1">
        <label for="date_select">Date</label>
        <input type="date" class="form-control" name="date" id="date_select" value="{{ data['date']|e }}">
      </div>
      <div class="col-auto my-1">
        <label for="timestamp_select">Time</label>
        <select class="custom-select" name="timestamp" id="timestamp_select">
          {% for time in timestamps %}
            <option value="{{ time }}" {{ "selected" if data['timestamp']|e == time }}>{{ time }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-auto my-1">
        <label for="detect-anomalies">Detect Anomalies: </label>
        <input id="detect-anomalies" name="detect-anomalies" type="checkbox" value="True">
        <button class="btn btn-sm btn-info" type="submit">Submit</button>
      </div>
    </div>
  </form>
{% endmacro %}
