{% extends "chart.html" %}

{% block more_content %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <form name="color_button" method='GET'>
            <label>Building</label>
            <select name="building">
                <option {{ "selected" if building_name|indent(4)|safe == "Libe" }} value="2">Library</option>
            </select>
            <label>Point name</label>
            <select name="point">
                <option {{ "selected" if point_name|indent(4)|safe == "LAB HOT H2O TEMP" }} value="511">LAB HOT H2O TEMP
                </option>
                <option {{ "selected" if point_name|indent(4)|safe == "A1 CCL TEMP" }} value="512">A1 CCL TEMP</option>
                <option {{ "selected" if point_name|indent(4)|safe == "AH2 AIR VOLU" }} value="513">AH2 AIR VOLU
                </option>
                <option {{ "selected" if point_name|indent(4)|safe == "STATIC SET" }} value="514">STATIC SET</option>
            </select>
            <br>
            <label>From</label>
            <input type="date" name="_from" value="{{ start_date }}">
            <label>To</label>
            <input type="date" name="to" value="{{ end_date }}">
            <br>
            <input type="submit" value="Submit"/>
        </form>
    </div>
{% endblock %}
