{% extends "base.html" %}
{% import 'macros.html' as macros %}
{% block compare_active %}active{% endblock %}
{% block page_title %}Point Compare{% endblock %}

{% block content %}
  <div class="row">
    <div id="firstChart" class="col-md-6">
      {{ macros.selector(0, selector_data, data, toggle=True, tool="compare") }}
      <span id="plot-0"></span>
    </div>
    <div id="secondChart" class="collapse col-md-6">
      {{ macros.selector(1, selector_data, data, toggle=False, tool="compare") }}
      <span id="plot-1"></span>
    </div>
  </div>
{% endblock %}


{% block jsvars %} var selectorData = {{ selector_data|tojson }} {% endblock %}


{% block pl_script %}
  <span id="script-0"></span>
  <span id="script-1"></span>
{% endblock %}