{% extends "chart.html" %}
{% import 'macros.html' as macros %}
{% block compare_active %}active{% endblock %}
{% block page_title %}Point Compare{% endblock %}

{% block content %}
    <div class="row">
        {% for item in result_components %}

            <div class="col-md-6">
                {{ macros.data_filter(item, buildings, loop.index0, allow_comparisons, False, loop.length <= 1 and allow_comparisons, toggle=True) }}
            </div>

            {% if loop.length <= 1 and allow_comparisons %}

                <div id="secondChart" class="collapse col-md-6">
                    {# add a second instance of this item that we can hide and show when we add a comparison #}
                    {{ macros.data_filter(item, buildings, loop.index0 + 1, True, True, False) }}
                </div>

            {% endif %}
        {% endfor %}
    </div>
{% endblock %}