{% extends "base.html" %}
{% import 'macros.html' as macros %}
{% block room_active %}active{% endblock %}
{% block page_title %}Room Compare{% endblock %}

{% block content %}
{#    <div class="row">#}
{#        <h1>Room Compare</h1>#}
{#    </div>#}
    <div class="row my-2">
        {# Create the building, date, and timestamp picker. #}
        {{ macros.generate_comparison_selector(result_components, buildings, timestamps) }}
    </div>
    <div class="row my-2">
        {% if dataframe|length > 0 %}
            <table class="table table-striped sortable">
                <thead>
                <tr>
                    <th scope="col">Room</th>
                    <th scope="col">Room Temp (deg F)</th>
                    <th scope="col">Valve Percent (%)</th>
                </tr>
                </thead>
                <tbody>
                {% for idx, row in dataframe.iterrows() %}
                    <tr class="room-comparison-row">
                        <th scope="row" class="dtcell" headers="room">{{ row['name_room'] }}</th>
                        <td class="dtcell" headers="temp">{{ row['room temp'] }}</td>
                        <td class="dtcell" headers="valve">{{ row['valve'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            No Data found for that query!
        {% endif %}
    {# Start by creating the building, date, and timestamp picker. #}
{#    <div class="row chart-container">#}
{#        <div class="seven columns">#}
{#            {{ macros.generate_comparison_selector(result_components, buildings, timestamps) }}#}
{#        </div>#}
{#        <div class="nine columns">#}
{#            <div class="comparison-container">#}
{#                {% if dataframe|length > 0 %}#}
{#                    <table class="room-comparisons sortable">#}
{#                        <thead>#}
{#                        <tr>#}
{#                            <th class="roomcell">Room</th>#}
{#                            <th>Temp 1 (RM)</th>#}
{#                            <th>Temp 2 (RMT)</th>#}
{#                            <th>Valve</th>#}
{#                        </tr>#}
{#                        </thead>#}
{#                        <tbody>#}
{#                        {% for idx, row in dataframe.iterrows() %}#}
{#                            <tr class="room-comparison-row">#}
{##}
{##}
{#                                <td class="dtcell" headers="room">{{ row['name_room'] }}</td>#}
                                {# This macro creates the rest of the table cells based on the list of anomalies #}
{#                                {{ macros.generate_tr(row, anomalous_pts) }}#}
{##}
{#                            </tr>#}
{#                        {% endfor %}#}
{#                        </tbody>#}
{#                    </table>#}
{#                {% else %}#}
{#                    No Data found for that query!#}
{#                {% endif %}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endblock %}