{% extends "base.html" %}
{% import 'macros.html' as macros %}

{#{% block pl_script %}#}
{#    {% for item in result_components %}#}
{#        {{ item.script|indent(4)|safe }}#}
{#    {% endfor %}#}
{#    {{ scripts|safe }}#}
{#{% endblock %}#}

{% block content %}

    {# Start by creating the building, date, and timestamp picker. #}
    <div class="row chart-container">
        <div class="seven columns">
            {{ macros.generate_comparison_selector(result_components, buildings, timestamps) }}
        </div>
        <div class="nine columns">
            <div class="comparison-container">
                {% if result_components["dataframe"]|length > 0 %}
                <table class="room-comparisons sortable">
                    <thead><tr><th class="roomcell">Room</th><th>Point Name</th><th>Units</th><th>Value</th><th>Description</th></tr></thead>
                    <tbody>
                        {% for index, row in result_components['dataframe'].iterrows() %}
                            {{ macros.comparison(row) }}
                        {% endfor %}

                    </tbody>
                </table>
                {% else %}
                    No Data found for that query!
                {% endif %}
            </div>
        </div>
    </div>



{% endblock %}